html,
body {
    font-family: Arial;
    width: 70%;
    height: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 128%;
    border-radius: 10px;
}

    button:hover {
        opacity: 0.8;
    }

input[type="text"],
input[type="password"] {
    width: 128%;
    padding: 16px 24px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border: 1px solid orange;
        outline: none;
    }

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-image img {
    width: 350px;
    height: 400px;
    padding-top: 50%;
    margin-right: 50px;
}

#togglePassword {
    position: absolute;
    right: 40px;
    top: 555px;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-container {
    display: block;
    width: 150%;
    background-color: #fff;
    margin-left: 70%;
    padding-top: 19%;
    padding-right: 120px;
}

.image-container {
    padding-left: 35%;
    margin-bottom: 10px;
}

#h1 {
    padding-top: 1px;
    padding-bottom: 15px;
}

#h4 {
    margin-bottom: 0%;
}

hr {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 55vh;
    position: absolute;
    left: 48%;
    top: 20%;
    transform: translateX(-50%);
}
